$breakpoint-smToMd: 576px;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    height: 100vh;
    width: 100%;
    background: pink; // ?????
}

input::placeholder {
    color: white !important;
}

#currentIcon {
    font-size: 2.5em;
    
}

.insideOuterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a3b3c6d;
    min-width: 3em;
    //height: 100%;
    min-height: 5em;
    border-radius: 30px;
    i {
        font-size: 1.4em;
    }
    p {
        opacity: 0.7;
    }
}

div.weatherDetailDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        h3 {
            font-size: 1.3em;
        }
    }
    i {
        font-size: 2em;
    }
}

footer {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(25%, -50%);
    p {
        transform: rotate(-90deg);
    }
}

@media (max-width: $breakpoint-smToMd) {
    
}