$widthWhereGridWillStart: 485px;
$breakpoint-sm: 576px;
$breakpoint-lg: 992px;
$breakpoint-xxl: 1400px;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.upperRow {
    margin-bottom: 2em;
}

div.formDiv {
    margin-bottom: 0em !important;
    form {
        input::placeholder {
            color: white !important;
        }
    }
}

button#celciusOrFarenheit {
    span {
        color: $gray-500;
    }
}

i#currentIcon {
    font-size: 2.5em;
    
}

div.eightHoursChildDivs {
    p {
        font-size: .9em;
        margin-bottom: 0.3em;
        font-weight: 500;
    }
    div.insideOuterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a3b3c6d;
    min-width: 3em;
    min-height: 5em;
    border-radius: 30px;
    i {font-size: 1.4em;}
    p {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0em;
        opacity: 0.7;
    }}
}

div.weatherDetailDiv {
    background-color: #ffffffde;
    color: #223f43;
    padding: 2em 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        h3 {
            font-size: 0.9em;
            color: #737373b7;
        }
        p {
            font-size: 1.6em;
            font-weight: 600;
            color: #373737e3;
        }
    }
    i {
        font-size: 2.5em;
        color: #373737e3;
    }
}

footer {
    p {
        font-weight: 500;
        a {
            color: white;
            &:hover {
                color: $blue-500;
                transition: color .1s ease-in;
            }
        }
    }
}

@media (min-width: $widthWhereGridWillStart) and (max-width: $breakpoint-lg){
    div.weatherDetailsGrid {
        .col {
            flex: 0 0 auto;
            width: 50%;
        }
    }
    
}

@media (max-width: $breakpoint-sm) {
    div.eightHours {
        gap: 1.5em;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}
@media (min-width: $breakpoint-sm) {
    form {
        width: 85% !important;
    }
    footer {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(25%, -50%);
    p {transform: rotate(-90deg);}
    }
}

@media (min-width: $breakpoint-lg) {
    body {
        width: 100%;
    }
    div.formDiv {
        margin-bottom: 4em;
    }
    div.insideOuterDiv {
        min-width: 3.5em !important;
        min-height: 6em !important;
    }
    div.currentAnd8h {
        margin: 6em 0 !important;
    }
}

// responsive for min-height: 700px
@media (min-width: $breakpoint-lg) and (min-height: 700px) {
    div.currentAnd8h {
        margin: 2.5em 0 !important;
    }
    div.weatherDetails {
        h3 {
            margin: 0.65em 0 !important;
        }
    }
    div.weatherDetailDiv { 
        padding: 1em 1.5em;
    }
    .g-4, .gx-4 {--bs-gutter-x: 1rem};
    .g-4, .gy-4 {--bs-gutter-y: 1rem};
}

// responsive for min-height: 740px 
@media (min-width: $breakpoint-lg) and (min-height: 740px) {
    div.currentAnd8h {
        margin: 4em 0 !important;
    }
}

// responsive for min-height: 760px 
@media (min-width: $breakpoint-lg) and (min-height: 760px) {
    .g-4, .gx-4 {--bs-gutter-x: 1.5rem};
    .g-4, .gy-4 {--bs-gutter-y: 1.5rem};
}

// responsive for min-height: 820px 
@media (min-width: $breakpoint-lg) and (min-height: 820px) {
    div.weatherDetailDiv {
        padding: 2em 1.5em;
    }
}

// responsive for min-height: 890px 
@media (min-width: $breakpoint-lg) and (min-height: 850px) {
    div.weatherDetails {
        h3 {
            margin: 1em 0 !important;
        }
    }
}

// responsive for min-height: 915px 
@media (min-width: $breakpoint-lg) and (min-height: 915px) {
    div.currentAnd8h {
        margin: 6em 0 !important;
    }
}

// responsive for min-height: 915px 
@media (min-width: $breakpoint-lg) and (min-height: 970px) {
    div.weatherDetails {
        h3 {
            margin: 1.5em 0 !important;
        }
    }
}

@media (min-width: $breakpoint-xxl) {
    div.insideOuterDiv {
        i {
            font-size: 1.8em;
        }
    }
}

// JS CLASSES
.activeTemperatureScale {
    color: $pink-500 !important;
    font-weight: 600;
}

.clickedDiv {
    transition: .1s ease-in;
    background-color: rgba(255, 255, 255, 0.43) !important;
    color: #202020;
}

.unclickedDiv {
    transition: .1s ease-in;
    background-color: rgba(58, 59, 60, 0.4274509804) !important;
    color: white;
}